* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
	color: white;
    background: linear-gradient(rgb(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(https://i0.wp.com/www.gamerfocus.co/wp-content/uploads/2019/06/pokemon_collage.jpg?w=1336&ssl=1);
	background-size: 100vh;
	display: flex;
	justify-content: center;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
